<%- include('../inc/head') %>
    <%- include('../inc/header') %>
        <div class="title__phone">
            <h1>All phones</h1>
            
        </div>
        <div class="container__phone">
            <% items.forEach((item)=>{ %>
                <div class="phone">
                    <br><a href="<%= `/phone/${item.id}` %>">
                        <%= item.name %>
                        <%= item.img %>
                    </a>
                </div>
            <% })%>
        </div>
        