<%- include('../inc/head') %>
<%- include('../inc/header') %>

<div class="title__phone">
    <h1>Обраний телефон</h1>
</div>
<br>

<div class="container__select__phone">
    <div class="select_phone">Phone:<%= item.name %></div>
    <div class="price_phone">Price:<%= item.price %></div>
    <div class="img_phone"><%= item.img %></div>
</div>
